<!DOCTYPE html>

<html>
     <link rel="stylesheet" href= "/css/styles.css">

<head>
   
    <title>Error 404</title>


</head>

<body>
    <div class= 'main-content'>
        {{>header}}
        <h2>Page not found</h2>
        
    </div>
    {{>footer}}
    
</body>



</html>