<!DOCTYPE html>

<html>
    <link rel="stylesheet" href= "/css/styles.css">

<head>
    <title>About Us</title>

</head>

<body>
    <div class= 'main-content'>
        {{>header}}
        <h2>About me</h2>
        <img class="portrait" src="/img/IMG-0573.jpg">
        
    </div>
    {{>footer}}

</body>



</html>