<!DOCTYPE html>

<html>
    <link rel="stylesheet" href= "/css/styles.css">
<head>
    <title>Help</title>
    


</head>

<body>
    <div class='main-content'>
        {{>header}}
        <h2>Contact us</h2>
        

    </div>
    {{>footer}}
</body>



</html>